<h1>Aquí puedes crear una pregunta</h1>

<form action="/my_question" method="get">
	<input type="submit" value="Regresar">
</form>
<br>

<form action="/create_question" method="post">
	Pregunta: <br>
	<textarea cols="50" rows="4" name="question"></textarea><br><br>
	<input type="submit" value="Crear pregunta">
</form>
<br>