<h1>Preguntas disponibles</h1>

<form action="/profile" method="get">
	<input type="submit" value="Regresar">
</form>
<br>
<% if @questions %>
	<% @questions.each do  |q| %>
		<a href="/<%= q.id %>"><%= q.question %></a><br><br>
	<% end %>
<% end %>